<h2>Vehicle Details</h2>

<a href="index.html"><< Back To List</a>

<table border="1" cellpadding="2" cellspacing="0">
    <thead>
        <tr>
            <th>Details</th>
            <th>Photos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top">
                <table border="0" cellpadding="2" cellspacing="0">
                    <tr>
                        <td><strong>Year:</strong></td>
                        <td>{{ car.Year }}</td>
                    </tr>
                    <tr>
                        <td><strong>Make:</strong></td>
                        <td>{{ car.VehicleMake }}</td>
                    </tr>
                    <tr>
                        <td><strong>Model:</strong></td>
                        <td>{{ car.Model }}</td>
                    </tr>
                    <tr>
                        <td><strong>StockNumber:</strong></td>
                        <td>{{ car.Stocknumber }}</td>
                    </tr>
                </table>
            </td>
            <td width="400">
                <div class="mainpic">
                <img width="400" ng-src="/photos/{{ car.Year }}_{{ car.VehicleMake }}_{{ car.Model }}_{{ car.Stocknumber }}-{{ car.Photo[activePhoto] }}.jpg">
                </div>
                <div ng-repeat="photo in car.Photo">
                    <div style="float:left;padding:5px;"><img ng-mouseover="changeMainPic()" width="90" src="photos/{{ car.Year }}_{{ car.VehicleMake }}_{{ car.Model }}_{{ car.Stocknumber }}-{{ car.Photo[photo] }}.jpg"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
