Search vehicles: <input type="text" ng-model="searchText" />

<br>
<br>

<table border="1" cellpadding="2" cellspacing="0">
    <thead>
        <tr><th colspan="4">Vehicle List</th></tr>
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Stock Number</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="vehicle in vehicles | filter:searchText">
            <td>{{ vehicle.Year }}</td>
            <td>{{ vehicle.VehicleMake }}</td>
            <td>{{ vehicle.Model }}</td>
            <td><a href="/#/{{ vehicle.Stocknumber }}">{{ vehicle.Stocknumber }}</a></td>
        </tr>
    </tbody>
</table>
